.todos {
    margin-bottom: 1rem;
    padding-right: 10rem;
    padding-left: 10rem;
}

.todos.completed span {
    text-decoration: line-through;
}

.todos.completed label {
    background: #e8f5e9;
}

.todos label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    background: #f3f3f3;
}

.todos i {
    z-index: 2;
}